*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body header{
    background-color: #41b668;
    height: 100px;
    width: 100%;
}

menu
{
   color: #FFFFFF; 
}

header nav 
{
    z-index:1000;
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
}

header nav ul
{
    list-style: none;
}

header nav lu li
{
    display: inline-block;
    position: relative;
}

header nav lu li a
{
    color: #FFFFFF; 
    display: block;
    text-decoration: none;
    padding: 20px; 
}